.list-group-item {
    cursor: pointer;
}

.list-group-item.pselected {
    border: 2px dashed indianred;
}

.list-group-item.selected {
    background-color: bisque;
}

.card-pf {
    margin-top: 20px;
    margin-right: 20px;
}

.participants {
}

.participants .participant {
    font-size: 21px;
    color: indianred;
    cursor: pointer;
}

.address-card {
    position: fixed;
    width: 47%;
}

.list-view-pf-description {
    width: 90%;
}