.list-group-item {
    cursor: pointer;
}

.list-group-item.pselected {
    border: 2px dashed indianred;
}

.list-group-item.selected {
    background-color: bisque;
}

.card-pf {
    margin-top: 20px;
    margin-right: 20px;
}