<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="address1">Address 1</label>
        <div class="col-sm-10">
            <input name="address1" type="text" id="address1" class="form-control" [(ngModel)]="model.address1">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="address2">Address 2</label>
        <div class="col-sm-10">
            <input name="address2" type="text" id="address2" class="form-control" [(ngModel)]="model.address2">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="city">City</label>
        <div class="col-sm-10">
            <input name="city" type="text" id="city" class="form-control" [(ngModel)]="model.city">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="state">State</label>
        <div class="col-sm-10">
            <input name="state" type="text" id="state" class="form-control" [(ngModel)]="model.state">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="zip">Zip</label>
        <div class="col-sm-10">
            <input name="zip" type="text" id="zip" class="form-control" [(ngModel)]="model.zip">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="country">Country</label>
        <div class="col-sm-10">
            <input name="country" type="text" id="country" class="form-control" [(ngModel)]="model.country">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!isDirty()">Save</button>
            <button type="submit" class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
    </div>
</form>
