<div class="container-fluid">
    <div class="row row-cards-pf">
        <div class="col-xs-12 col-sm-6">
            <div class="card-pf card-pf-accented">
                <div class="card-pf-heading">
                    <h2 class="card-pf-title">
                        <span class="fa fa-fw fa-comment"></span>
                        <span>Welcome to the <strong>Concurrent Editor POC</strong> Dashboard!</span>
                    </h2>
                </div>
                <div class="card-pf-body">
                    <p>
                        Use this page to select an addres book to concurrently edit (along with other users)!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cards-pf">
    </div>
</div>